<h1> Squirrel Tracker </h1>

<p>You can also: </p>

<ul>
	<li><a href="/sightings/add/"> Add a new sighting </a></li>
	<li><a href="/map/"> View sightings map </a></li>
	<li><a href="/sightings/stats/"> View squirrel statistics </a></li>
</ul>
<p3>All Sightings on Record Now:</p3>
{% if latest_sighting_list %}
    <ul>
	    {% for sighting in latest_sighting_list %}
	    <li><a href="/sightings/{{sighting.unique_squirrel_id }}">{{ sighting.unique_squirrel_id }}</a></li>
	    {% endfor %}
	    <ul>
{% else %}
<p>No squirrels are available.</p>
{% endif %}
